body {
	font-family: "Fira Code", "Lato", Arial, Helvetica, sans-serif;
    font-weight: 1.6em;
}

a {
    text-decoration: none;
}

h1 {
    text-align:center;
}

th, td {
    padding: 5px;
}

table td {
    vertical-align: top;
    padding-top: 10px;  /* Adjust this value as needed */
}
  
table td ul {
    margin-top: 0;
    padding-top: 0;
}

.title {
    width: 600px;
    margin-left:100px;
}

.maincontent {
    width: 600px;
    margin-left: 100px;
    margin-top: 50px;
    text-align: justify;
}

.box {
    border-style: dotted;
    border-width: 1px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-left:100px;
    width:600px;
}

.navul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
}

.navli {
    display: inline-block;
    padding-left: 55px;
}

.codeblock {
    font-family: 'Courier New', Courier, monospace;
}
